<!-- 
<div class='row'>
  <section id="alerts">
      <div class='row'>
        <div class='col-md-10 col-md-offset-1'>
          <div class='row'>
            <% if flash[:notice] %>
              <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                  style='z-index: 999;'>
                  <span aria-hidden="true">&times;</span>
                </button>
               
               <p class='bold'> <%= flash[:notice] %> </p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
-->