<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="heading">
          <div class="text-center">
            <h4 class='bold alternative uppercase'>Testemunhos</h4>
            <h2>O que as <span class='bold alternative'>Pessoas</span> dizem sobre?</h2>
            <hr>
          </div>
        </div>

        <div id="testimonial-block">

          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-body testimonials">
                <div class='media'>
                  <div class="media-left pull-left">
                    <%= image_tag('testimonials/avatars/mark.jpg', class: 'logo') %>
                  </div>
                  <div class='media-body'>
                    <h4 class='bold'>Mark Almeida <small class='bold'>/ TCHÊLOVER</small></h4>
                    <blockquote style='font-size: 12px;'>A Plataforma realmente funciona, me ajudou
                    muito a encontrar o emprego que eu procurava, eu recomendo!!</blockquote>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-body testimonials">
                <div class='media'>
                  <div class="media-left pull-left">
                    <%= image_tag('testimonials/avatars/elisa.jpg', class: 'logo') %>
                  </div>
                  <div class='media-body'>
                    <h4 class='bold'>Elisa Oliveira <small class='bold'>/ TCHÊLOVER</small></h4>
                    <blockquote style='font-size: 12px;'>A Plataforma realmente funciona, me ajudou
                    muito a encontrar o emprego que eu procurava, eu recomendo!!</blockquote>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-body testimonials">
                <div class='media'>
                  <div class="media-left pull-left">
                    <%= image_tag('testimonials/avatars/daniel.png', class: 'logo') %>
                  </div>
                  <div class='media-body'>
                    <h4 class='bold'>Daniel Campos <small class='bold'>/ TCHÊLOVER</small></h4>
                    <blockquote style='font-size: 12px;'>A Plataforma realmente funciona, me ajudou
                    muito a encontrar o emprego que eu procurava, eu recomendo!!</blockquote>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>